.text-align-center {
  text-align: center;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: flex-end;
}

.btn-rounded {
  border-radius: 35px;
}

.btn-round {
  border-radius: 50%;
}

.opaque {
  opacity: 0.5;
}

.hidden {
  display: none;
}

.overridedPrice {
  text-decoration: line-through
}
