<button type="button" class="btn btn-warning btn-round btn-floating" (click)="this.toggleBasket()"
  *ngIf="this.zalogowany"
>
  <i class="fas fa-shopping-basket constrained" *ngIf="this.basketClosed; else closeBasketIcon"></i>
  <ng-template #closeBasketIcon >
    <i class="fas fa-times constrained"></i>
  </ng-template>
</button>
<div class="basket-overlay" *ngIf="!basketClosed">
  <div class="basket-content py-3">
    <h2 class="display-4 mb-3 px-3">Twoje zamówienie</h2>
      <ul class="list-group list-group-flush">
        <li *ngFor="let bookingWithWycieczka of this.bookingsWithWycieczkas" class="list-group-item basket-entry">
          <div class="px-3 row">
            <img src="{{bookingWithWycieczka.wycieczka.zdjecie}}" width="150px" height="100px" alt="Obraz {{bookingWithWycieczka.wycieczka.nazwa}}}" class="col-3"/>
            <div class="col-9">
              <h4>{{bookingWithWycieczka.wycieczka.nazwa}}</h4>
              <div>{{bookingWithWycieczka.booking.miejsca}} miejsc</div>
              <div [ngClass]="{'discounted': bookingWithWycieczka.flashDeal}">
                Suma: {{bookingWithWycieczka.wycieczka.cena * bookingWithWycieczka.booking.miejsca}}
              </div>
              <div *ngIf="bookingWithWycieczka.flashDeal" class="text-danger">
                Nowa suma: {{(bookingWithWycieczka.wycieczka.cena - bookingWithWycieczka.flashDeal.discount) * bookingWithWycieczka.booking.miejsca}}
              </div>
            </div>
          </div>
        </li>
      </ul>

    <div class="mt-3 pt-3 basket-summary container">
      <h3>Do zapłaty: {{this.totalRezerwowane()}} PLN</h3>
    </div>
  </div>
</div>
